@using Parent_Teacher_Daily_Communication_System.Models
@model CourseClassDetail

@if ( ViewBag.Success != null){
  <div class="col-3 m-3 alert alert-success">@ViewBag.Success</div>
}
@if ( TempData["DeleteClass"] != null){
  <div class="col-3 m-3 alert alert-danger">@TempData["DeleteClass"]</div>
}
 

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-md-12">
      <div class="nav-align-top">
        <ul class="nav nav-pills flex-column flex-md-row mb-6">
          <li class="nav-item">
            <a class="nav-link active" asp-controller="Admin" asp-action="AddCourse"><i class="bx bx-sm bx-user me-1_5"></i> Add New Course</a>
          </li>
        </ul>
      </div>
      <div class="card mb-6">
        <div class="card-body pt-4">
          <form  method="post"  id="formAccountSettings">
            <div class="row g-6">
              <h5 class="header">Class Information</h5>
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="col-md-6">
                <label asp-for="className" class="form-label"> Name / ስም</label>
                <input class="form-control" type="text" asp-for="className" placeholder="A,B,C" autofocus />
                <span asp-validation-for="className" class="text-danger"></span>
              </div>

            
            </div>
            <div class="mt-6">
              <button type="submit" class="btn btn-outline-primary me-3">Create</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div> 


<div class="m-6 col-6 card">
        <div class="table-responsive text-nowrap">
            <table class="table">
            <thead class="table-dark">
                <tr>
                <th>Class</th>
                <th>Delete</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
        @if(Model != null){
        @if(Model.Classes != null && Model.Classes.Count() != 0){

            foreach(var clas in Model.Classes){

            <tr>
                <td><i class="menu-icon tf-icons bx bx-chalkboard text-primary"></i><span>@clas.Name</span></td>
                <td>
                  <form asp-controller="Admin" asp-action="DeleteClass" method="post">
                    <input type="hidden" name="ClassId" value="@clas.Id">
                    <button type="submit" class="btn btn-link text-danger p-0">Delete</button>
                  </form>
                </td>          
             </tr>
              }
            } 
          }
            </tbody>

    </table>
</div>
</div>
