@using Parent_Teacher_Daily_Communication_System.Models
@model TeacherRegisterModel


@if ( ViewBag.Success != null)
{
  <div class="col-3 m-3 alert alert-success">@ViewBag.Success</div>
}
<div>
    @if(ViewBag.Password != null && ViewBag.Password != ""){ 
    <div class="col-4 m-3 alert alert-primary alert-dismissible" role="alert">
        <h4 class="header">Password : @ViewBag.Password</h4>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<br>
</div>

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-md-12">

      <div class="nav-align-top">
        <ul class="nav nav-pills flex-column flex-md-row mb-6">
          
         
          <li class="nav-item">
            <a class="nav-link active" asp-controller="Admin" asp-action="RegisterStudent"><i class="bx bx-sm bx-user me-1_5"></i> New Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" asp-controller="Admin" asp-action="RegisterTeacher"><i class="bx bx-sm bx-user me-1_5"></i> New Teacher</a>
          </li>
        </ul>
      </div>

      <div class="card mb-6">
        <div class="card-body pt-4">
          <form  method="post" asp-controller="Admin" asp-action="RegisterTeacher" id="formAccountSettings" enctype="multipart/form-data">
            <div class="row g-6">
              <h5 class="header">Teacher Information</h5>
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>


              <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-6 pb-4 border-bottom">
                        <img src="../assets/img/avatars/Teacher.jpg"
                          alt="user-avatar"
                          class="d-block w-px-100 h-px-100 rounded"
                          id="uploadedAvatar" name ="alt" />
                        <div class="button-wrapper">
                          <label for="upload" class="btn btn-primary me-3 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Upload new photo</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input
                              type="file"
                              id="upload"
                              name="image"
                              class="account-file-input"
                              accept="image/png, image/jpeg"
                              hidden
                             />
                          </label>
                          <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Reset</span>
                          </button>

                          <div>Allowed JPG, GIF or PNG. Max size of 800K</div>
                        </div>
                      </div>
                    </div>

              <div class="col-md-6">
                <label asp-for="FirstName" class="form-label">First Name / የመጀመሪያ ስም</label>
                <input class="form-control" type="text" asp-for="FirstName" placeholder="John" autofocus />
                <span asp-validation-for="FirstName" class="text-danger"></span>
              </div>

              <div class="col-md-6">
                <label asp-for="LastName" class="form-label">Last Name / የመጨረሻ ስም</label>
                <input class="form-control" type="text" asp-for="LastName" placeholder="Doe" />
                <span asp-validation-for="LastName" class="text-danger"></span>
              </div>

              <div class="col-md-6">
                <label asp-for="UserName" class="form-label">User Name / የመጨረሻ ስም</label>
                <input class="form-control" type="text" asp-for="UserName" placeholder="Mos/32/242" />
                <span asp-validation-for="UserName" class="text-danger"></span>
              </div>

              <div class="col-md-6">
                <label  class="form-label">Class</label>
                <select class="form-control" asp-for="Class" class="col-md-6" multiple>

                  @if(Model != null){
                    @if(Model.Classes != null && Model.Classes.Count() != 0){
                      @foreach(var c in Model.Classes){
                        <option value="@c.Id">@c.Name</option>
                      }
                    }
                }
                </select>
                <span class="text-danger" asp-validation-for="Class"></span>
              </div>

              <div class="col-md-6">
                <label asp-for="Kebele" class="form-label">Kebele</label>
                <input class="form-control" type="text" asp-for="Kebele"  placeholder="Piyasa" />
                <span asp-validation-for="Kebele" class="text-danger"></span>
              </div>

              <div class="col-md-6">
                <label asp-for="SubCity" class="form-label">Sub City</label>
                <input class="form-control" type="text" asp-for="SubCity" />
                <span asp-validation-for="SubCity" class="text-danger"></span>
              </div>

               <div class="col-md-6">
                <label asp-for="DateofBirth" class="form-label">Occupation</label>
                <input class="form-control" type="date" asp-for="DateofBirth"  placeholder="Teacher" />
                <span asp-validation-for="DateofBirth" class="text-danger"></span>
              </div>

              <div class="col-md-6">
                <label class="form-label" asp-for="PhoneNumber">Phone Number / የስልክ ቁጥር</label>
                <div class="input-group input-group-merge">
                  <span class="input-group-text">ET (+251)</span>
                  <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="202 555 0111" />
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
              </div> 
              
              <div class="col-md-6">
                <label asp-for="HomeAddress" class="form-label">Address / የቤት አድራሻ</label>
                <input type="text" class="form-control" asp-for="HomeAddress" placeholder="Somewhere" />
                <span asp-validation-for="HomeAddress" class="text-danger"></span>
              </div>
            
            </div>
             <div class="mt-6">
              <button type="submit" class="btn btn-primary me-3">Create</button>
              <a asp-controller="Admin" asp-action = "RegisterStudent" class="btn btn-outline-secondary">Back</a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div> 
